/* Main Layout & Colors */

:root {
    --grey: rgba(160, 140, 132, 0.24); /* Grau mit 24% Transparenz */
    --kwmjs-white: #f8f8f8;
    --kwmjs-black: #1c1c1c;
    --kwmjs-blue: #4757a7;
}


/* Nav */
#navigation {
    background-color: white;
    padding: 1.7rem;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

#navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

#logo {
    margin-left: 3rem;
}


header ul li .active {
    text-decoration: underline;
}

header ul li:hover a {
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #ff0000;
}



body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    text-align: center;
}




/* Footer */

footer {
    height: 80px;
    background-color: var(--kwmjs-blue);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 80px;
    color: var(--kwmjs-white);
}

footer p {
    margin: 0;
}
