.card {
    width: 22rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title, .card-text {
    text-align: center;

}

.card-body p {
    font-size: 1.1rem !important;
    padding: 1rem 2rem 0rem 2rem;
    line-height: 1.2rem;

}



.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    margin-top: 3rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
}

.card-body > .btn {
    width: 50%;
    align-self: center;
}

@media (max-width: 768px) {
    .card {
        width: 70vw;
    }
}