
.carousel {
    margin: 5rem 0 5rem 0;


}

.carousel-inner {
    height: 90vh;
}

.carousel-item img {
    width: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5rem;
    height: 5rem;
    align-self: center;

}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: var(--cream);
}

.carousel-control-prev:not(:disabled),
.carousel-control-next:not(:disabled) {
    opacity: 1; /* Opazität ändern, wenn der Link nicht deaktiviert ist */
}

