/* Footer */

footer {
    background-color: var(--cream);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0;

}

/* Striche zwischen den Logos */
footer .partner a {
    display: inline-block
}

footer .links {
    align-self: center;
}

footer a, span  {
    color: black;
    font-size: 1.2rem;
}

footer .partner img {
    width: 5rem;
    margin: 1rem;

}


footer a:hover {
    text-decoration: none;
    color: var(--cream);

}


@media (max-width: 768px) {
    #cookieBanner p{
        padding: 0rem 1rem 0rem 1rem;

    }
}

