/* Footer */

footer {
    background-color: var(--cream);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer .links a {
    color: black;
}

footer .partner img {
    width: 5rem;
    margin: 1rem;

}

.partner {
    font-size: 0;
    line-height: 0;
}



.carousel-item {
    width:70vw;
    height:30vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.social a:hover {
    text-decoration: none;
    color: var(--cream);

}
