/* Hero Teaser Styles */

.hero-teaser {
    width: 100%;
    margin-bottom: 4rem;
}

.hero-teaser .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

.hero-teaser .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-teaser .content .text{
    padding: 6rem;
    text-align: center;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-teaser h1 {
    font-size: 1.6rem;
}

.hero-teaser p {
    font-size: 1.3rem;

}

.hero-teaser .content .btn {
    width: 45%;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .hero-teaser h1 {
        font-size: 2.5rem;
    }

    .hero-teaser p {
        font-size: 1rem;
    }

    .hero-teaser .content .text {
        padding: 3rem;
    }
}
