/* Nav */

#navigation {
    background-color: white;
    padding: 1.7rem;
}

#logo {
    width: 7rem;
    margin-left: 2rem;
    transition: transform 0.5s ease;
}

#logo:hover {
    transform: scale(1.1);
}



.nav-item {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black;

}


.navbar-nav .nav-link:hover {
    color: var(--cream);
}


.navbar-nav .nav-link:active {
    text-decoration: underline;
}


#navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

@media (max-width: 768px) {
    #logo {
        margin-left: auto;
    }
}

