.text-color {
    background-color: var(--cream);
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;

}

.text-color .content {
    padding: 5rem;

}

@media (max-width: 768px) {
    .text-color .content {
        padding: 2rem;
    }
}
