.image-and-text {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.image-and-text .content {
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-and-text .content .text {
    align-self: center;
    text-align: left;


}


