.image-and-text {
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
}

.image-and-text .content {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7rem;
    background-color: var(--cream);
}

.image-and-text .content .text {
    align-self: center;
    text-align: left;
}

.image-and-text .content img {
    width: 40%;
}


@media (max-width: 768px) {
    .image-and-text .content {
        padding: 2rem;
    }
}





